.terraform
*.tfstate
*.tfstate.backup

# Sensitive or Secret Files
*.pem
*.key
*.crt
*.pfx
*.env
.env.*

# Windows
*.lnk
*.cab
*.msi
*.msix
*.msm
*.msp

# Editor / OS Files
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp
*.swo
*.vscode
.idea
*.vs
*.sln
*.suo
*.user
*.cache
*.project
*.classpath
*.settings/
*.metadata/
*.vscode/
*.history/
*.idea/
*.vs/
